@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.flex-even {
  flex: 1;
}

body {
  font-family: "Manrope";
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.custom-color-1 {
  background-color: #f0ece2 !important;
}

.custom-color-2 {
  background-color: #b5946b !important;
}
.custom-color-3 {
  background-color: #f56032 !important;
}

.custom-color-4 {
  background-color: #4c5b63 !important;
}

.custom-text-color-4 {
  color: #0000009a !important;
}
.custom-text-color-3 {
  color:  #f56032 !important;
}

.custom-text-color-2 {
  color: #5F424E !important;
}

.custom-text-color-1 {
  color: #f0ece2 !important;
}

.custom-bg-gradient {
  background: rgb(240, 236, 226);
  background: linear-gradient(
    119deg,
    rgba(240, 236, 226, 1) 0%,
    rgba(223, 211, 195, 1) 100%
  );
}

.custom-shadow-gradient {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.half-page-height {
  height: 50vh;
}
